
/*
  * Plugin Custom CSS
  * -----------------
  * This CSS file contains custom styling that is for any and all plugins found
  in this network
  *
*/

/*
  *
  * Ninja Forms Custom CSS
*/

.ninja-forms-cont table {
	margin-bottom : 5px;
	padding : 10px 5px 10px;
	border-radius : 12px;
	background : rgba( 80, 80, 80, 0.25);
}

.ninja-forms-cont table tbody tr td {
	background : #FFFFFF;
}

div.ninja-forms-form-wrap {
	background : none !important;
}

#ninja_forms_form_15_save_progress {
	font-size : 10pt !important;
}

/*
  *
  * Shortcodes Ultimate Custom CSS
*/

.su-post-blog {
	padding : 25px 0 25px;
	border-bottom : 2px solid #d2e7b5;
}

.su-posts-blog-loop .su-post-blog-thumbnail img {
	max-width : 150px;
	max-height : 150px;
}

.su-highlight.highlighted-header {
	border-radius: 10px;
	padding: 5px;
	width: 100%;
}

.su-posts-list-loop li {
	padding-top: .5em;
}

.su-slider-slide-title {
display: none !important;	
}


.su-posts li a {
font-weight: normal;	
}