/*
* Plugin Custom CSS
* -----------------
* This CSS file contains custom styling that is for any and all plugins found
in this network
*
*/

/* ------------------------------------------------------------------
* WP Members
*--------------------------------------------------------------------*/
.account-settings ul {
  display: flex;
  list-style-type: none;
  flex: 1;
}

.account-settings ul li {
  display: flex;
  flex: 1;
  margin: 10px;
}

#wpmem_login,
#wpmem_reg,
.post-password-form {
  margin: 100px auto;
}

.submit .button,
#wpua-add-existing,
#wpua-undo-existing,
#wpua-remove-existing,
.wpmem_return_link a,
.button_div input,
.account-settings ul li a {
  background: #7a9943;
  border-radius: 10px;
  color: white;
  display: flex;
  padding: 10px 20px;
  text-align: center;
}

.wpmem_return_link a,
.submit .button,
#wpua-add-existing,
#wpua-undo-existing,
#wpua-remove-existing,
.button_div input {
  padding: 5px 10px;
}

.button_div {
  display: flex;
}

.button_div  input[type="checkbox"] {
  margin: 4px 2px !important;
}

.button_div  input[type="submit"] {
  margin: auto !important;
}

/*
*
* Ninja Forms Custom CSS
*/
.ninja-forms-mp-breadcrumbs {
  border-bottom: 1px solid #174a4c;
  padding-bottom: 15px;
}

.hp-wrap ~ h4,
#ninja_forms_form_19_cont h4 {
  background: #d2e7b5;
  border: 3px solid #174a7c;
  border-bottom: 0;
  border-radius: 12px 12px 0 0;
  color: #174a4c;
  font-size: 1.75em;
  padding-top: 5px;
}

.ninja-forms-cont table {
  background: #d2e7b5;
  border: 3px solid #174a7c;
  border-radius: 0 0 12px 12px;
  margin: 0;
  padding: 10px 15px;
  width: 100%;
  border-top: 0;
}

.ninja-forms-cont table tbody tr td {
  background: #ffffff;
  text-align: center;
}

div.ninja-forms-form-wrap {
  background: none !important;
}

#ninja_forms_form_19_save_progress {
  font-size: 10pt !important;
}

.ninja-forms-ul-flex-wrap span ul {
  display: flex;
  flex-direction: column;
}

.ninja-forms-field p img {
  height: 90%;
  width: 90%;
}

/*
*
* Shortcodes Ultimate Custom CSS
*/

/*  Add FlexBox */
.su-row,
.su-column,
.su-column-inner,
.su-column-inner a {
  display: flex !important;
  flex-wrap: wrap;
}

.su-row-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.su-row-no-wrap {
  flex-wrap: nowrap !important;
}

.su-no-flex .su-column-inner a {
  display: initial !important;
}

.su-column {
  flex-grow: 1 !important;
  align-self: flex-start;
}

.su-button {
  font-weight: normal;
}

.su-button span {
  align-self: center;
  border: 0 !important;
  line-height: 2em !important;
}

.su-post-blog {
  padding: 25px 0 25px;
  border-bottom: 2px solid #d2e7b5;
}

.su-posts-blog-loop .su-post-blog-thumbnail img {
  max-width: 150px;
  max-height: 150px;
}

.su-highlight.highlighted-header {
  border-radius: 10px;
  display: block;
  padding: 5px;
  width: 100%;
}

.su-posts-list-loop li {
  padding-top: .5em;
}

.su-slider-slide a img {
  border-radius: 0;
}

.su-posts li a {
  font-weight: normal;
}

.product-info.su-row {
  display: block !important;
}

.product-info .gallery-columns-3 dl {
  border: 1px solid #58585a;
  margin: 10px 1.4% 10px;
  width: 30% !important;
}
