/*
* Plugin Custom CSS
* -----------------
* This CSS file contains custom styling that is for any and all plugins found
in this network
*
*/

/* ------------------------------------------------------------------
* WP Members
*--------------------------------------------------------------------*/
.account-settings ul {
  display: flex;
  list-style-type: none;
  flex: 1;
}

.account-settings ul li {
  display: flex;
  flex: 1;
  margin: 10px;
}

.submit .button,
#wpua-add-existing,
#wpua-undo-existing,
#wpua-remove-existing,
.wpmem_return_link a,
.button_div input,
.account-settings ul li a {
  background: #7a9943;
  border-radius: 10px;
  color: white;
  display: flex;
  padding: 10px 20px;
  text-align: center;
}

.wpmem_return_link a,
.submit .button,
#wpua-add-existing,
#wpua-undo-existing,
#wpua-remove-existing,
.button_div input {
  padding: 5px 10px;
}

/*
*
* Ninja Forms Custom CSS
*/
.ninja-forms-cont table {
  margin-bottom: 5px;
  padding: 10px 5px 10px;
  border-radius: 12px;
  background: rgba(80, 80, 80, 0.25);
}

.ninja-forms-cont table tbody tr td {
  background: #ffffff;
}

div.ninja-forms-form-wrap {
  background: none !important;
}

#ninja_forms_form_15_save_progress {
  font-size: 10pt !important;
}

.ninja-forms-ul-flex-wrap span ul {
  display: flex;
  flex-direction: column;
}

.ninja-forms-field p img {
  height: 90%;
  width: 90%;
}

/*
*
* Shortcodes Ultimate Custom CSS
*/

/*  Add FlexBox */
.su-row,
.su-column,
.su-column-inner,
.su-column-inner a {
  display: flex !important;
  flex-wrap: wrap;
}

.su-row-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.su-row-no-wrap {
flex-wrap: nowrap !important;
}

.su-no-flex .su-column-inner a{
 display:block !important;
}
.su-column {
  flex-grow: 1 !important;
  align-self: flex-start;
}

.su-button {
  font-weight: normal;
}

.su-button span {
  align-self: center;
  border: 0 !important;
  line-height: 2em !important;
}

.su-post-blog {
  padding: 25px 0 25px;
  border-bottom: 2px solid #d2e7b5;
}

.su-posts-blog-loop .su-post-blog-thumbnail img {
  max-width: 150px;
  max-height: 150px;
}

.su-highlight.highlighted-header {
  border-radius: 10px;
  display: block;
  padding: 5px;
  width: 100%;
}

.su-posts-list-loop li {
  padding-top: .5em;
}

.su-slider {
  max-width: 450px !important;
}

.su-slider-slide-title {
  display: none !important;
}

.su-posts li a {
  font-weight: normal;
}
