.homepage-intro ~ p {
  color: #7a9943;
  font-style: italic;
}

.dep-logo {
    margin: -7% auto 25px !important;
}


/**
* Navigation
*/
.dep-primary-menu {
  width: 85% !important;
}

.dep-primary-menu li {
  flex: initial !important;
}

#menu-forms-menu li,
#menu-forms-menu li a {
  font-size: 10pt;
  font-weight: normal;
  padding: 5px;
}

#menu-forms-menu {
  -webkit-margin-before: 0;
  -webkit-padding-start: 25px;
}

@media (min-width: 800px) {
  #footer-menu-container {
    flex: 6;
  }
}
