
/**
 * Navigation
 */


#primary-menu .about-us-nav {
  background-color : #f15d22;
}

#primary-menu .programs-nav {
  background-color : #7a1600;
}

#primary-menu .for-families-nav {
  background-color : #78a22f;
}

#primary-menu .involvement-nav {
  background-color : #174a7c;
}

#primary-menu .calendar-nav {
  background-color : #80561b;
}

#primary-menu .donate-nav {
  background-color : #0086be;
}


.school-closing {
	padding : 10px 0 10px;
	color : #FFFFFF;
	background : #78a22f;
	text-align : center;
	font-size : 10pt;
}
