
/**
 * Navigation
 */


#primary-menu .about-us-nav {
  background-color : #f15d22;
}

#primary-menu .programs-nav {
  background-color : #7a1600;
}

#primary-menu .for-families-nav {
  background-color : #78a22f;
}

#primary-menu .involvement-nav {
  background-color : #174a7c;
}

#primary-menu .calendar-nav {
  background-color : #80561b;
}

#primary-menu .donate-nav {
  background-color : #0086be;
}


.site-logo.dep-logo {
	width : 100%;
	max-width : 250px;
	margin : 10px 25px 10px;
}

.site-logo.dep-logo img {
	border-radius : 0;
}

#menu-forms-menu li,
#menu-forms-menu li a {
	font-size: 10pt;
font-weight: normal;
padding: 2px;
}

#menu-forms-menu {
	-webkit-margin-before: 0;
}
