
/* CSS Document */

@media (max-width: 850px) {

#primary-menu li {
	padding : 10px 10px 10px;
}
/* End Media-Query */
}

@media (max-width: 800px) {

.menu-top-menu-container,
 .sidebar-container,
 header {
	display : none;
}

.page-container,
 footer {
	border-radius : 0;
}
/* End Media-Query */
}

@media (max-width: 600px) {

.page-feature-img img {
	border-radius : 0;
}

#footer-menu li a {
	margin : 10px 0 10px;
	border : none;
}

.school-closing {
	font-size : 9pt;
}
/* End Media-Query */
}

@media (max-width: 500px) {

.gallery-columns-5 .gallery-item {
	width: 15% !important;
}

.gallery-columns-5 .gallery-item .gallery-icon img {
	border-radius: 10px;
}
/* End Media-Query */
}
