#primary-menu.nep-primary-menu .research-nav {
	max-width: 100px
}

#primary-menu.nep-primary-menu .design-nav {
	max-width: 110px;
}

#primary-menu.nep-primary-menu .workshops-nav {
	max-width: 100px;
}