.nep-homepage-intro ~ p {
	color: #FFFFFF;
	font-size: 1.2em;
	font-style: italic;
}

.nep-homepage-sidebar {
padding: 0 !important;	
margin-top: 100px;
}

.nep-homepage-sidebar > div, 
.nep-homepage-sidebar > div ~ div {
	padding : 25px 10px 5px;
}

.nep-homepage-sidebar > div ~ div {
border-radius : 0 25px 0 0;

}

#primary-menu.nep-primary-menu {
	-webkit-margin-after: 0em;
	position : relative;
	top: -0.2em;
	float : right;
	margin-right: 1.7em;
}
#primary-menu.nep-primary-menu li {
	margin : 0 3px 0;
	padding : 15px 7px 15px;
	border-radius : 12px 12px 0 0;
	background : #174a7c;
	font-size: .8em !important;
	max-width: 4.7em;
	text-align: center;
}

#primary-menu.nep-primary-menu .research-nav {
	max-width: 75px;
}

#primary-menu.nep-primary-menu .design-nav {
	max-width: 110px;
}

#primary-menu.nep-primary-menu .workshops-nav {
	max-width: 100px;
}

.site-logo.nep-logo img {
margin-top: -1.7em;
margin-left: 1.7em;
}


.site-logo.nep-logo,
.site-logo.nep-logo img {
	border-radius : 0;
	max-width : 16em;

}